@model DentalInformationSystem.Models.Procurement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Procurement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProcurmentID" />
            <div class="form-group">
                <label asp-for="ProcurmentDate" class="control-label"></label>
                <input asp-for="ProcurmentDate" class="form-control" />
                <span asp-validation-for="ProcurmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierID" class="control-label"></label>
                <select asp-for="SupplierID" class="form-control" asp-items="ViewBag.SupplierID"></select>
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryNoteNumber" class="control-label"></label>
                <input asp-for="DeliveryNoteNumber" class="form-control" />
                <span asp-validation-for="DeliveryNoteNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MerchandiseName" class="control-label"></label>
                <input asp-for="MerchandiseName" class="form-control" />
                <span asp-validation-for="MerchandiseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasureUnit" class="control-label"></label>
                <input asp-for="MeasureUnit" class="form-control" />
                <span asp-validation-for="MeasureUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
