@model DentalInformationSystem.Models.ExpensesType

@{
    ViewData["Title"] = "Brisanje";
}

<h4>Brisanje</h4>

<h3>Da li ste sigurni da želite da obrišete ovaj podatak?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpensesTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpensesTypeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExpensesTypeID" />
        <input type="submit" value="Obriši podatke o tipu rashoda" class="btn btn-danger" />
        @Html.ActionLink("Nazad na listu tipova rashoda", "Index", "ExpensesTypes", null, new { @class = "btn btn-secondary" })
    </form>
</div>
