@model DentalInformationSystem.Models.ExpensesType

@{
    ViewData["Title"] = "Izmena podataka";
}

<h4>Izmena podataka</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExpensesTypeID" />
            <div class="form-group">
                <label asp-for="ExpensesTypeName" class="control-label"></label>
                <input asp-for="ExpensesTypeName" class="form-control" />
                <span asp-validation-for="ExpensesTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj izmene" class="btn btn-primary" />
            </div>
            @Html.ActionLink("Nazad na listu tipova rashoda", "Index", "ExpensesTypes", null, new { @class = "btn btn-secondary" })
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
