@model DentalInformationSystem.Models.Expense

@{
    ViewData["Title"] = "Izvestaj rashoda od do";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateExpenses">
            <div class="form-group">
                <label>Početni datum</label>
                <input name="date1" class="form-control" type="date" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Završni datum</label>
                <input name="date2" class="form-control" type="date" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Račun-otpremnica No.</label>
                <input name="ProcurementNumber" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <input type="submit" value="Izveštaj rashoda u rasponu datuma" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}