@model DentalInformationSystem.Models.Anamnesis

@{
    ViewData["Title"] = "Izmena podataka anamneze";
}



<h4>Izmena podataka anamneze</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnamnesisID" />
            <div class="form-group">
                <label asp-for="AnamnesisName" class="control-label"></label>
                <input asp-for="AnamnesisName" class="form-control" />
                <span asp-validation-for="AnamnesisName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj izmene" class="btn btn-primary" />
            </div>
            @Html.ActionLink("Nazad na listu anamneza", "Index", "Anamneses", null, new { @class = "btn btn-secondary" })
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
