@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a{
        color:black;
    }
    input[type=checkbox] {
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        width: 15px;
        height: 15px;
        margin-left:5px;
        vertical-align: middle;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <section>
   
            <form id="account" method="post">
                <h4>Forma za prijavu</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Lozinka</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox-inline no_indent">
                        <label>Zapamti podatake?  
                        
                            <input asp-for="Input.RememberMe" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Ulogujte se</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Zaboravili ste lozinku?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrujte se kao novi korisnik</a>
                    </p>

                </div>
            </form>
        </section>
    </div>
  
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
